*{
    margin:0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

#head-home{
    background-image:url(https://png.pngtree.com/thumb_back/fh260/background/20231027/pngtree-hexagonal-abstract-background-with-a-black-textured-surface-image_13704307.png);
    background-position: center;
    min-height: 100%;
    background-size: cover;
}

nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav ul{
    width: 100%;
    color: black;
    text-align: center;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    list-style: none;
}

nav li{
    height:50px;
}

nav a{
    text-decoration: none;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: #f0f0f0;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right:0;
    height: 100vh;
    width: 250px;
    
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

@media(max-width:800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width:400px){
    .sidebar{
        width:100%;
    }
}


#main-wrapper{
    color:white;
    padding:48px;
}

.first-text{
   position: absolute;
   left: 10%;
   top: 40%;
   font-size: 80px;
   transform: translate(0%,-50%);
   
}

.second-text{
    position: absolute;
    font-size: 25px;
    top:50%;
    margin-top: 30px;
    left: 10%;
}

.about-button{
    padding: 16px;
    font-size: 18px;
    top: 65%;
    border-radius: 5px;
    background-color: white;
}

.about-button a{
    text-decoration:none;
    color: black;
}

.about-button :hover{
    opacity: 0.60;
}

h2{
    margin: 40px 0;
    text-align: center;
}

.c2-quarter,.one-third{
    padding: 0 15px;
    font-size: 15px;
    width: 100%;
    display: block;
}

.c2-quarter p, .one-third p{
    text-align: center;
    margin-top: 20px;
}


.quarter-wrapper{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-evenly;
    
}

.c2-quarter .fa, .details .fa{
    margin-left: 40%;
    margin-bottom: 20px;
}

.second-container{
    margin-bottom: 40px;
}

.c3-row,.c4-row1,.c4-row2,.stat-wrapper{
    display: flex;
    flex-direction: row;
}

.c-container{
    padding: 10px 10px;
    background-color: white;
    
}

.p1{
    opacity: 0.6;
}

.c-container h2,.p1, .p2{
    margin: 10px;
    text-align: left;
}

.c-container button{
    padding: 10px;
}

.c-container button:hover,.fifth-container button:hover, .sixth-container button:hover,footer .fa:hover{
    background-color: lightgray;
    cursor: pointer;
    color: black;
}

.c3-card{
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
}

.statistics{
    padding: 32px;
    color: white;
    background-color: #616161;
    font-size: 30px;
}

.s-quarter{
    width: 25%;
    margin: 50px;
    text-align: center;
}

.fifth-container th{
    font-size: 25px;
    padding: 20px;
    width: 33.33%;
}

.fifth-container td{
    text-align: center;
    padding: 20px;
    background-color: white;
}

.fifth-container button{
    color: white;
    background-color: black;
    padding: 20px;
    border: none;
}

.c6-input{
    border: 1px solid #ccc;
    padding: 15px;
    display: block;
    width: 100%;
    margin: 20px;
}

.sixth-container button{
    padding:19px 16px;
    background-color: black;
    color: white;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    border: none;
    margin: 20px;
    width: 20%;
}

.details{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.up-button{
    background-color:white;
    color: black;
    text-align: center;
    padding: 10px 8px;
    display: inline-block;
    border: none;
    text-decoration: none;
    width: 10%;
    transition: all 0.5s;
}

.up-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.up-button span:after {
    content: '\2191';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

.up-button:hover span {
    padding-right: 25px;
}
  
.up-button:hover span:after {
    opacity: 1;
    right: 0;
  }

#footer{
   text-align: center;
   padding-top: 80px;
   padding-bottom: 100px;
   height: 80px;
   background-color:black;
   color:white;
   bottom: 0;
   left:0;
   position: static;
}

footer .fa{
    display: inline-block;
}

.social-media{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}
